@tailwind base;
@tailwind components;
@tailwind utilities;
/**
 * BASE
 */
/**
 * BASE
 */
@layer base {
  a,
  img,
  button {
    @apply block;
  }

  input {
    @apply block
    outline-none
    bg-transparent
    w-full;
  }

  input[type='password'] {
    @apply tracking-[5px];
  }

  input[type='password']::placeholder {
    @apply tracking-normal;
  }

  body {
    @apply bg-light-background 
    dark:bg-dark-background 
    text-light-onBackground
    dark:text-dark-onBackground;
  }

  ::-webkit-scrollbar {
    @apply w-2
    h-2
    rounded-full;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-transparent
    rounded-full;
  }

  *:hover::-webkit-scrollbar-thumb {
    @apply bg-light-onBackground/15
    dark:bg-dark-onBackground/15;
  }
}
/** 
* Styling for Register.jsx
**/

.custom-class {
  width: 100vw;
  /* relative to the viewport width */
  height: 100dvh;
  /* relative to the viewport height */
  padding: 0.5rem;
  /* p-2 translates to padding of 0.5rem */
  display: grid;
  /* grid layout */
  grid-template-columns: 1fr;
  /* single column by default */
  gap: 0.5rem;
  /* lg:gap-2 translates to a 0.5rem gap */
}

@media (min-width: 768px) {
  /* lg breakpoint */

  .custom-class {
    grid-template-columns: repeat(2, 1fr);
    /* grid-cols-2 translates to two columns */
  }
}

.custom-container {
  display: flex;
  flex-direction: column;
  /* flex-col */
  padding: 1rem;
  /* p-4 translates to padding of 1rem */
}

.custom-link {
  max-width: -moz-max-content;
  max-width: max-content;
  /* max-w-max */
  margin-left: auto;
  /* mx-auto */
  margin-right: auto;
  /* mx-auto */
}

@media (min-width: 768px) {
  /* lg breakpoint */

  .custom-link {
    margin-left: 0;
    /* lg:mx-0 */
    margin-right: 0;
    /* lg:mx-0 */
  }
}

/* Light mode visible, hidden in dark mode */

.light-visible {
  display: block;
}

@media (prefers-color-scheme: dark) {
  .light-visible {
    display: none;
  }
}

/* Dark mode visible, hidden in light mode */

.dark-visible {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .dark-visible {
    display: block;
  }
}
.text-displaySmall {
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0;
}
